body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    color: #0056b3;
  }