/* src/styles/TenetReports.css */

/* General Layout */
.tenet-reports-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    overflow: hidden;
  }
  
  /* Content */
  .content {
    flex-grow: 1;
    padding: 30px;
    overflow-y: auto;
    background-color: #fff;
  }
  
  /* Header */
  .header {
    margin-bottom: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #28333f;
  }
  
  /* Reports List */
  .reports-list-container {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reports-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .report-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .report-card h3 {
    margin-top: 0;
    color: #28333f;
  }
  
  .report-card p {
    color: #555;
    margin: 15px 0;
  }
  
  .report-card .primary-button {
    margin-top: 10px;
    background-color: #28333f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .report-card .primary-button:hover {
    background-color: #ffcc00;
    color: #28333f;
  }